<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frezc.bangumitimemachine.app" >

    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="ANDROID.PERMISSION.CHANGE_CONFIGURATION"></uses-permission>
    <application

            android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainDrawerTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
                android:configChanges="screenSize|orientation"
                android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
